{% extends 'base.html'%}
{% load bootstrap %}
{% block title %} Pessoas {% endblock %}

{% block main %}
<div class="row">
    <div class="col-sm">
        <a href="{% url 'nova_pessoa'%}" class="btn btn-success">
            <i class="fas fa-plus-circle"></i>
            Novo cliente</a>
    </div>

    <div class="col-6">
        <h3>Listagem de clientes</h3>
        <ul class="list-group">
            {% for pessoa in pessoas %}
            <li class="list-group-item">
                <a href="{% url 'update_pessoa' pessoa.id %}">{{ pessoa.nome }}</a>
                <a class="trash-item" href="{% url 'delete_pessoa' pessoa.id %}">
                    <i class="fas fa-trash"></i>
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>

    <div class="col-sm">

        {% if user.is_authenticated%}
        <p>Olá {{user.username}}
            <a href="{%url 'logout' %}">
            <span class="badge badge-dark">
                <i   class="fas fa-sign-out-alt"></i>
            </span></a>
        </p>
        {% endif %}


    </div>
</div>
{% endblock %}
{%block footer%}

<footer class="footer">
    <div class="container">
        <span class="text-muted">Aprendendo Djanguineo</span>
    </div>
</footer>

{%endblock%}

